
.encabezado{
  background-color: black;
  height: 20rem;
}

.encabezado__imagen{
  width: 50%;
  height: 20rem;
  position: static;
  float: right;
  margin: auto;
}
.encabezado__titulo{
  color: rgb(62, 224, 13);
  -webkit-text-stroke: 2px rgb(255, 254, 254);
  font-family:  'Times New Roman', Times, serif;
  font-size: 5rem;
  margin-left: 1em;
  position: relative;
}

.tabla{
  border: rgb(24, 73, 2);
}

.video{
  background-color: whitesmoke;
}
.video__titulo{
  font-size: 2rem;
  color: rgb(10, 0, 10);
  text-align: center;
}

.video__video{
  margin-left: auto;
  margin-right: auto;
  display: block
}

.video__BEM{
  margin-left: auto;
  margin-right: auto;
  display:inline-block
}

.parrafo1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrafo1__titulo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo1__texto{
  font-family: Arial, Helvetica, sans-serif;
}

.parrafo1{
  background-color: rgb(163, 162, 162);
}

.parrafo1__titulo{
  color: rgb(78, 16, 16);
}

.imagen{
  float: right;
  border: rgb(24, 73, 2);
}

.imagen__texto{
  color: rgb(2, 11, 88);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  text-align: left;
  margin-top: 10em;

}

<<<<<<< HEAD
.lenguaje{
  background: blanchedalmond;
}

.lenguaje__titulo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
}

.lenguaje__texto{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color:rgb(0, 27, 27);
}

.lenguaje__lista{
  color: rgb(44, 2, 2);
=======
.imagen1 {
  float:unset;
  border: rgb(228, 106, 7);
  position: relative;
}

.imagen1__texto1 {
  color: rgb(23, 8, 240);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  text-align: unset;
  margin-top: 10em;

>>>>>>> 69b109c97997c02ded855c8a6b4cea80c5d38b5c
}